<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
<app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          
          
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">View Service Providers</h4>
                <hr>
                <div class="row">
                 
                 <!---->
                 <div class="container-fluid">
                   <button class="btn btn-success rounded-0"><i class="ti-plus mr-1"></i>ADD</button>
                  
                 <div class="btn-group hidden-phone">
                          <a data-toggle="dropdown" href="#" class="btn btn-outline-light rounded-0" aria-expanded="false">
                              Action
                              <i class="ti-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu p-2">
                              <li><a href="#"><i class="ti-pencil mr-1"></i>Edit</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="ti-trash mr-1"></i>Delete</a></li>
                          </ul>
                      </div>
                      <div class="btn-group hidden-phone">
                          <a data-toggle="dropdown" href="#" class="btn btn-outline-light rounded-0" aria-expanded="false">
                              Status
                              <i class="ti-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu p-2">
                              <li><a href="#"><i class="ti-check  mr-1"></i>Activate</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="ti-close mr-1"></i>Diactivate</a></li>
                          </ul>
                      </div>
                      <ul class="unstyled inbox-pagination">
                          <li><span>1-50 of 234</span></li>
                          <li>
                              <a class="np-btn" href="#"><i class="ti-angle-left  pagination-left"></i></a>
                          </li>
                          <li>
                              <a class="np-btn" href="#"><i class="ti-angle-right pagination-right"></i></a>
                          </li>
                      </ul>
                    </div>
                 <!---->
                 
                </div>
                <hr>
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th class="span1"><input type="checkbox"></th>
                      <th class="span2">Company Name</th>
                      <th class="span9">Email</th>
                      
                      <th class="span2">Phone</th>
                      <th class="span2">Country</th>
                      
                      <th class="italic">Created By</th>
                      <th class="italic">Status</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox"> <a href="#"></a></td>
                      <td><a href="edit-service-provider-user.html">Safaricom</a></td>
                      
                      <td><strong>test@test.co.ke</strong></td>
                      <td>0738329265</td>
                      <td>Kenya</td>
                      <td><strong>George Robs</strong></td>
                      <td><strong><a href="" class="btn btn-sm btn-rounded btn-outline-primary">Active</a></strong></td>
                      
                    
                    </tr>
                    <tr>
                      <td><input type="checkbox"> <a href="#"></a></td>
                      <td><a href="edit-service-provider-user.html">Safaricom</a></td>
                      
                      <td>test@test.co.ke</td>
                      <td>0738329265</td>
                      <td>Kenya</td>
                      <td><strong>George Robs</strong></td>
                      <td><strong><a href="" class="btn btn-sm btn-rounded btn-outline-danger">Pending</a></strong></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"> <a href="#"></a></td>
                      <td><a href="edit-service-provider-user.html">Safaricom</a></td>
                      
                      <td><strong>test@test.co.ke</strong></td>
                      <td>0738329265</td>
                      <td>Kenya</td>
                      <td><strong>George Robs</strong></td>
                      <td><strong><a href="" class="btn btn-sm btn-rounded btn-outline-primary">Active</a></strong></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"> <a href="#"></a></td>
                      <td><a href="edit-service-provider-user.html">Safaricom</a></td>
                      
                      <td><strong>test@test.co.ke</strong></td>
                      <td>0738329265</td>
                      <td>Kenya</td>
                      <td><strong>George Robs</strong></td>
                      <td><strong><a href="" class="btn btn-sm btn-rounded btn-outline-primary">Active</a></strong></td>
                      
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              </div>
            
          
          
          
          
        </div>
      </div>
      <!-- content-wrapper ends -->
 <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
