<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
 <app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Edit Service Provider</h4>
                <p class="card-description">
                  Create users and upload documents and images of the user..
                </p>
                <hr>
                <form class="forms-sample">
                  
                  <div class="form-group">
                      <label for="exampleInputName1">Full Names</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <label>Upload Your Logo:</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Your Logo">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>  
                    <div class="form-group">
                      <label>Description:</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>   
                    <div class="form-group">
                      <label for="exampleInputName1">Phone number</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="0738 xxxxxx">
                    </div> 
                  <div class="form-group">
                    <label for="exampleInputName1">Email</label>
                    <input type="email" class="form-control" id="exampleInputName1" placeholder="test@test.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Country</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Country">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Currency: </label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Contact Email</label>
                    <input type="email" class="form-control" id="exampleInputName1" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputName1">Contact No.:</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelectGender">Sector/Industry:</label>
                      <select class="form-control" id="exampleSelectGender">
                        <option>Doctor</option>
                        <option>Hospital</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">Service Provider:</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Doctor</option>
                          <option>Hospital</option>
                        </select>
                      </div>
                  
                    <div class="form-group">
                      <label for="exampleInputName1">Registration No.:</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                    </div>
                    <div class="form-group">
                      <label>Registration Cetificate:</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Registration Cetificate">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Tax PIN No.:</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                    </div>
                    
                    
                  <div class="form-group">
                    <label>Upload Tax Cetificate:</label>
                    <input type="file" name="img[]" class="file-upload-default">
                    <div class="input-group col-xs-12">
                      <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Tax Cetificate">
                      <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                  <p>Contact Persons</p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                            
                          <th>
                            #
                          </th>
                          <th>
                           Full Names
                          </th>
                          <th>
                            Email
                          </th>
                          <th>
                            Phone
                          </th>
                          <th>
                            Action
                          </th>
                         
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-info">
                          <td>
                            1
                          </td>
                          <td>
                            <input type="text" class="form-control">
                          </td>
                          <td>
                            <input type="text" class="form-control">
                          </td>
                          <td>
                            <input type="text" class="form-control">
                          </td>
                          <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                             
                              <button type="button" class="btn btn-outline-success"><i class="ti-plus"></i></button>
                              <button type="button" class="btn btn-outline-danger"><i class="ti-close"></i></button>
                              
                            </div>
                          </td>
                          
                        </tr>
                        
                        
                      </tbody>
                    </table>
                  </div>
                  </div>
                  
                  <div class="form-group">
                    <p>Create Branches (<i>if available)</i></p>
                    <div class="table-responsive pt-3">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                              
                            <th>
                              #
                            </th>
                            <th>
                             Location
                            </th>
                            <th>
                              Email
                            </th>
                            <th>
                              Phone
                            </th>
                            <th>
                              Action
                            </th>
                            <th>
                              Box Address
                            </th>
                            <th>
                              Hours
                            </th>
                           
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-info">
                            <td>
                              1
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            <td>
                              <input type="text" class="form-control">
                            </td>
                            <td>
                              <div class="btn-group" role="group" aria-label="Basic example">
                               
                                <button type="button" class="btn btn-outline-success"><i class="ti-plus"></i></button>
                                <button type="button" class="btn btn-outline-danger"><i class="ti-close"></i></button>
                                
                              </div>
                            </td>
                            
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                    </div>

                  <button type="submit" class="btn btn-primary mr-2"><i class="ti-reload"></i> Update</button>
                  <button type="submit" class="btn btn-success mr-2"><i class="ti-save"></i> Save</button>
                  <button class="btn btn-light"><i class="ti-close"></i> Cancel</button>
                </form>
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
