<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
<app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          
          
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">My Panel</h4>
                    
                    <hr>
                    <div class="row">
                      <div class="col-md-5">
                        <form class="form-sample">
                          
                          
                          <div class="form-group">
                            <label for="exampleInputName1">Service Provider</label>
                            <select class="form-control">
                              <option>Lawyers</option>
                              <option>Doctors</option>
                              <option>Surveyors</option>
                              <option>Assessors</option>
                            </select>
                            <p class="small">Select service provider and move it to your panel on the right.</p>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">Service provider Description</label>
                            <textarea class="form-control" rows="5"></textarea>
                            <p class="small">The description is not prominent by default; however, some themes may show it.</p>
                          </div>
                          <button class="btn btn-primary">Add to Panel</button>
                        </form>
                      </div>
                      <div class="col-md-7">
                        <div class="btn-group mb-2 hidden-phone">
                          <a data-toggle="dropdown" href="#" class="btn btn-outline-primary" aria-expanded="false">
                              Action
                              <i class="ti-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu">
                              
                              <li><a href="#"><i class="ti-trash ml-2"></i> Remove</a></li>
                          </ul>
                          <a href="#" class="btn btn-outline-success">Apply</a>
                      </div>
                        <table class="table table-bordered">
                          <thead class="thead-light">
                            <tr>
                              <th class="span1"><input type="checkbox"></th>
                              <th class="span2">Service Provider</th>
                              <th class="span2">Description</th>
                              <th class="span9">Email Address</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input type="checkbox"></td>
                              <td><a href="#">Service Provider</a></td>
                              <td>auto-spares</td>
                              <td>john.doe@gmail.com</td>
                            </tr>
                            <tr>
                              <td><input type="checkbox"></td>
                              <td><a href="#">Service Provider</a></td>
                              <td>auto-spares</td>
                              <td>john.doe@gmail.com</td>
                            </tr>
                            <tr>
                              <td><input type="checkbox"></td>
                              <td><a href="#">Service Provider</a></td>
                              <td>auto-spares</td>
                              <td>john.doe@gmail.com</td>
                            </tr>
                          </tbody>
                          
                        </table>
                      </div>
                    </div>
                   </div>
              </div>
              </div>
            
          
          
          
          
        </div>
      </div>
      <!-- content-wrapper ends -->
 <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
