<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
<app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">


          <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Countries</h4>
  
                    <hr>
                    <div class="row">
                      <div class="col-md-5">
                        <form class="form-sample">
                          <div class="form-group">
                            <label for="country_name">Country Name</label>
                            <input type="text" class="form-control" [(ngModel)]="this_country.country_name" [ngModelOptions]="{standalone: true}" [value]="this_country.country_name" (change)="validateInputs()">
                            <p class="small">The name is how it appears on your site.</p>
                          </div>
                          <div class="form-group">
                            <label for="country_code">Country Code</label>
                            <input type="text" class="form-control" [(ngModel)]="this_country.country_code" [ngModelOptions]="{standalone: true}" [value]="this_country.country_code" (change)="validateInputs()">
                          </div>
                          <div class="form-group">
                            <label for="phone_code">Phone Code</label>
                            <input type="text" class="form-control" [(ngModel)]="this_country.phone_code" [ngModelOptions]="{standalone: true}" [value]="this_country.phone_code" (change)="validateInputs()">
                          </div>
  
  
                          <button class="btn btn-primary" [disabled]="validateInputs()" (click)="addCountry()">{{isUpdate == true ? 'Update' : 'Create'}} Country </button>
                        </form>
                      </div>
                      <div class="col-md-7">
                        <div class="btn-group mb-2 hidden-phone">
                          <a data-toggle="dropdown" href="#" class="btn btn-outline-primary" aria-expanded="false">
                              Bulk Action
                              <i class="ti-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="#"><i class="ti-pencil ml-2"></i> Edit</a></li>
                              <li><a href="#"><i class="ti-trash ml-2"></i> Delete</a></li>
                          </ul>
                          <a href="#" class="btn btn-outline-success">Apply</a>
                      </div>
                        <table class="table table-bordered">
                          <thead class="thead-light">
                            <tr>
                              <th class="span1"><input type="checkbox"></th>
                              <th class="span2">Country Name</th>
                              <th class="span2">Country Code</th>
                              <th class="span9">Phone Code</th>
  
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let country of allCountries; index as i">
                              <tr (click)="viewCountry(country)">
                                <td><input type="checkbox"></td>
                                <td>{{country.country_name}}</td>
                                <td>{{country.country_code}}</td>
                                <td><strong>{{country.phone_code}}</strong></td>
                              </tr>
                            </ng-container>
                          </tbody>
  
                        </table>
                      </div>
                    </div>
                   </div>
            </div>
          </div>




        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
