<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
<app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          
          
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">My Profile</h4>
                
                <hr>
                <!-- Start -->
<div class="row">
<div class="col-md-3 text-center">
  <img src="../../../../assets/images/faces/face29.jpg" class="img-fluid" alt="" srcset="">
  <h4 class="mt-3">George Best</h4>
  <h5>Doctor</h5>
</div>
<div class="col-md-9">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Edit Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Change Password</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h4 class="mt-4">About</h4>
      <p><i>Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</i></p>
      <h4 class="my-4">Profile Details</h4>
      <div class="row mt-4">
        <div class="col-md-3"><b>Account Type</b></div>
        <div class="col-md-9"><i>Individual</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Full Names</b></div>
        <div class="col-md-9"><i>George Best</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Email Address</b></div>
        <div class="col-md-9"><i>George@serviceprovider.com</i></div>
      </div> 
      <div class="row mt-4">
        <div class="col-md-3"><b>Phone Number</b></div>
        <div class="col-md-9"><i>0780 000 000</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Date of Birth</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Gender</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Sector/Industry</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Occupation </b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Physical Address</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Postal Address</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Means of Identification</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Identification Number</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Identification Document</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Tax Number</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3"><b>Tax Certificate</b></div>
        <div class="col-md-9"><i>Lorem Ipsum is simply</i></div>
      </div>
      
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <form class="forms-sample mt-4">
        <div class="form-group">
          <label for="exampleInputName1">Full Names</label>
          <input type="text" class="form-control" id="exampleInputName1" value="George">
        </div>
        
          <div class="form-group">
            <label for="exampleInputName1">Email</label>
            <input type="email" class="form-control" id="exampleInputName1" value="george@serviceprovider.com">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Contact no.</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 000 000">
          </div> 
          <div class="form-group">
            <label for="exampleInputName1">Date of Birth.</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Date of Registration.</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Gender</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Sector/Industry</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
             </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Occupation</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
             </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Physical Address</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Postal Address</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Means of Identification</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Identification Number</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>

          <div class="form-group">
            <label>Identification Document</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Scanned ID Image">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div>
          </div>  
           <div class="form-group">
            <label for="exampleInputName1">Tax Number</label>
            <input type="text" class="form-control" id="exampleInputName1" value="0720 xxx xxx">
          </div>
     
        <div class="form-group">
          <label>Tax Certificate</label>
          <input type="file" name="img[]" class="file-upload-default">
          <div class="input-group col-xs-12">
            <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
            <span class="input-group-append">
              <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
            </span>
          </div>
        </div>
       
        <button type="submit" class="btn btn-primary mr-2"><i class="ti-reload"></i> Update</button>
        
      </form>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <form class="forms-sample mt-4">
        
        <div class="form-group">
            <label for="exampleInputName1">Password</label>
            <input type="password" class="form-control" id="exampleInputName1" placeholder="password">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">Confirm Password*</label>
            <input type="password" class="form-control" id="exampleInputName1" placeholder="password">
          </div>
        
        
        
        <button type="submit" class="btn btn-primary mr-2"><i class="ti-reload"></i> Update</button>
        
      </form>
    </div>
  </div> 
</div>
</div>
                
                <!-- End -->
              </div>
            </div>
          </div>
          
          
          
          
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
