<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
<app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">




          <div class="col-lg-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">BILLING</h4>
                <hr>
                <div class="table-responsive pt-3">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          #
                        </th>
                        <th>
                         Package Name
                        </th>
                        <th>
                          Billing Cycle
                        </th>
                        <th>
                          No. of Users
                        </th>
                        <th>
                          Currency
                        </th>
                        <th>
                          Amount
                        </th>
                        <th>
                          Active
                        </th>
                        <th>
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-info">
                        <td>
                          1
                        </td>
                        <td>
                         Basic
                        </td>
                        <td>
                          Yearly
                        </td>
                        <td>
                          3
                        </td>
                        <td>
                          USD
                        </td>
                        <td>
                          100
                        </td>
                        <td>
                          Yes
                        </td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn bg-success btn-sm"><i class="ti-pencil-alt"></i> Edit</button>
                              <button type="button" class="btn btn-danger btn-sm"><i class="ti-eye mr-1"></i> View</button>
                            </div>
                        </td>
                      </tr>
                      <tr class="table-info">
                        <td>
                          1
                        </td>
                        <td>
                         Premium
                        </td>
                        <td>
                          Yearly
                        </td>
                        <td>
                          3
                        </td>
                        <td>
                          USD
                        </td>
                        <td>
                          100
                        </td>
                        <td>
                          Yes
                        </td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn bg-success btn-sm"><i class="ti-pencil-alt"></i> Edit</button>
                              <button type="button" class="btn btn-danger btn-sm"><i class="ti-eye mr-1"></i> View</button>
                            </div>
                        </td>
                      </tr>
                      <tr class="table-info">
                        <td>
                          1
                        </td>
                        <td>
                         Business
                        </td>
                        <td>
                          Yearly
                        </td>
                        <td>
                          3
                        </td>
                        <td>
                          USD
                        </td>
                        <td>
                          100
                        </td>
                        <td>
                          Yes
                        </td>
                        <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <button type="button" class="btn bg-success btn-sm"><i class="ti-pencil-alt"></i> Edit</button>
                              <button type="button" class="btn btn-danger btn-sm"><i class="ti-eye mr-1"></i> View</button>
                            </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
     <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
