 <!-- partial -->
 <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
 <app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
  
  
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Quotation</h4>
                    <p class="card-description">
                      View Quotation
                    </p>
                    <hr>
                    <div class="d-flex justify-content-center row">
                      <div class="col-md-10 align-items-end"><button type="button" class="btn btn-info btn-icon-text">
                          Print
                          <i class="ti-printer btn-icon-append"></i>
                        </button>
                        <button type="button" class="btn btn-warning btn-icon-text">
                          PDF
                          <i class="ti-save btn-icon-append"></i>
                        </button>
                      </div>
                      <div class="col-md-12">
  
                          <table class="table table-condensed table-hover">
                            <tbody>
                              <tr>
                                <td>
                                  <h4><strong>Company Name</strong></h4><br>
                                  123 Street Address, City, State<br>
                                  P. O. Box 1234 - 00100<br>
                                  Email:john.doe@gmail.com <br>
                                  Phone: +254 7123455XX <br>
                                  www.website.com <br>
                                </td>
                                <td align="right">
                                  <h4><strong>QUOTATION</strong></h4><br>
                                  <img src="images/logo2.png" width="280"><br>
                                  Quotation No.:123455 <br>
                                  Date: 12-OCT-2022 <br>
                                </td>
                              </tr>
                              <hr >
                            </tbody>
                          </table>
                          <h4><strong>TO:</strong></h4>
                          <h5>Company Name</h5><br>
                          Adress:123 Street Address, City, State<br>
                          Postal:P. O. Box 1234 - 00100<br>
                          Email:john.doe@gmail.com <br>
                          Phone: +254 7123455XX <br>
                          Website: www.website.com <br>
  
                          <table class="table table-condensed table-hover">
                            <tbody>
                              <tr>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Amount($)</th>
                              </tr>
                              <tr>
                                <td>Lorem Ipsum</td>
                                <td>1</td>
                                <td>100</td>
                                <td>100</td>
                              </tr>
                              <tr>
                                <td>Lorem Ipsum</td>
                                <td>1</td>
                                <td>100</td>
                                <td>100</td>
                              </tr>
                              <tr>
                                <td>Lorem Ipsum</td>
                                <td>1</td>
                                <td>100</td>
                                <td>100</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td>Sub Total</td>
                                <td>300</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td>Discount</td>
                                <td>100</td>
                              </tr><tr>
                                <td></td>
                                <td></td>
                                <td>Tax Rate</td>
                                <td>100</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td>Tax Amount</td>
                                <td>100</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td><strong>Total Amount($)</strong></td>
                                <td><strong>100</strong></td>
                              </tr>
                              <hr >
                            </tbody>
  
                          </table>
                          <h6><strong>Notes and Terms</strong></h6>
                          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
  
  
  
  
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
       <app-footer></app-footer>
        <!-- partial -->
      </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

