<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <app-sidebar></app-sidebar>
    <!-- partial -->
    <div class="main-panel">        
      <div class="content-wrapper">
        <div class="row">
          
          
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Messages</h4>
                
                <hr>
                <div class="inbox-body">
                  <div class="mail-option">
                      <div class="chk-all">
                          <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                          <div class="btn-group">
                              <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                  All
                                  <i class="fa fa-angle-down "></i>
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="#"> None</a></li>
                                  <li><a href="#"> Read</a></li>
                                  <li><a href="#"> Unread</a></li>
                              </ul>
                          </div>
                      </div>

                      <div class="btn-group">
                          <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                              <i class="ti-reload"></i>
                          </a>
                      </div>
                      <div class="btn-group hidden-phone">
                          <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                              More
                              <i class="ti-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="#"><i class="ti-pencil"></i> Mark as Read</a></li>
                              <li><a href="#"><i class="ti-alert"></i> Spam</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="ti-trash"></i> Delete</a></li>
                          </ul>
                      </div>
                      <div class="btn-group">
                          <a data-toggle="dropdown" href="#" class="btn mini blue">
                              Move to
                              <i class="ti-angle-down "></i>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="#"><i class="ti-pencil"></i> Mark as Read</a></li>
                              <li><a href="#"><i class="ti-alert"></i> Spam</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><i class="ti-trash"></i> Delete</a></li>
                          </ul>
                      </div>

                      <ul class="unstyled inbox-pagination">
                          <li><span>1-50 of 234</span></li>
                          <li>
                              <a class="np-btn" href="#"><i class="ti-angle-left  pagination-left"></i></a>
                          </li>
                          <li>
                              <a class="np-btn" href="#"><i class="ti-angle-right pagination-right"></i></a>
                          </li>
                      </ul>
                  </div>
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th class="span1"></th>
                      <th class="span2"></th>
                      <th class="span2"></th>
                      <th class="span9"></th>
                      <th class="span2"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox"> <a href="#"><i class="ti-star ml-1"></i></a></td>
                      <td><a href="message-details.html"><strong>John Doe</strong></a></td>
                      <td><label class="badge badge-info float-sm-right">Notifications</label></td>
                      <td><strong>Message body goes here</strong></td>
                      <td><strong>11:23 PM</strong></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"> <a href="#"><i class="ti-star ml-1"></i></a></td>
                      <td><a href="message-details.html">John Doe</a></td>
                      <td><label class="badge badge-info float-sm-right">Notifications</label></td>
                      <td>Message body goes here</td>
                      <td>Sept4</td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"> <a href="#"><i class="ti-star ml-1"></i></a></td>
                      <td><a href="message-details.html"><strong>John Doe</strong></a></td>
                      <td><label class="badge badge-info float-sm-right">Notifications</label></td>
                      <td><strong>Message body goes here</strong></td>
                      <td><strong>Sept3</strong></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox"> <a href="#"><i class="ti-star ml-1"></i></a></td>
                      <td><strong>John Doe</strong></td>
                      <td><label class="badge badge-info float-sm-right">Notifications</label></td>
                      <td><strong>Message body goes here</strong></td>
                      <td><strong>Sept3</strong></td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank">ServiceProvider</a>. All rights reserved.</span>
          
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
