<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
 <nav class="sidebar sidebar-offcanvas" id="sidebar">
<ul class="nav">
<li class="nav-item">
  <a class="nav-link" href="dashboard.html">
      <i class="ti-dashboard menu-icon"></i>
      <span class="menu-title">Dashboard</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="message.html">
      <i class="ti-email menu-icon"></i>
      <span class="menu-title">Notifications <span class="badge">4</span></span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="view-task.html">
      <i class="ti-credit-card menu-icon"></i>
      <span class="menu-title">My Tasks<span class="badge">4</span> </span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#appointment" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-calendar menu-icon"></i>
      <span class="menu-title">Appointments</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="appointment">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-appointment.html">Add Appointment</a></li>
      <li class="nav-item"> <a class="nav-link" href="appointments.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#quotation" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-calendar menu-icon"></i>
      <span class="menu-title">Quotations</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="quotation">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-quotation.html">New Quote</a></li>
      <li class="nav-item"> <a class="nav-link" href="quotation.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#bid" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-tag menu-icon"></i>
      <span class="menu-title">Bids</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="bid">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="my-bids.html">My bids</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#bids" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-tag menu-icon"></i>
      <span class="menu-title">Auctions/Salvages</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="bids">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-bids.html">Create</a></li>
      <li class="nav-item"> <a class="nav-link" href="active-bids.html">View</a></li>
      <li class="nav-item"> <a class="nav-link" href="bid-winner.html">Winners</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#orders" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-ticket menu-icon"></i>
      <span class="menu-title">Orders</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="orders">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="orders.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#invoice" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-receipt menu-icon"></i>
      <span class="menu-title">Invoices</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="invoice">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-invoice.html">New Invoice</a></li>
      <li class="nav-item"> <a class="nav-link" href="invoice.html">View</a></li>
      </ul>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#tasks" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-credit-card menu-icon"></i>
      <span class="menu-title">Tasks</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="tasks">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-task.html">New Task</a></li>
      <li class="nav-item"> <a class="nav-link" href="view-task.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#clients" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-thumb-up menu-icon"></i>
      <span class="menu-title">Referred Clients</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="clients">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="reffered-clients.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#services" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-bag menu-icon"></i>
      <span class="menu-title">Our Services</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="services">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-service.html">New Service</a></li>
      <li class="nav-item"> <a class="nav-link" href="services.html">View Services</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#provider" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-credit-card menu-icon"></i>
      <span class="menu-title">Service Providers</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="provider">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="edit-service-provider-user.html">Create</a></li>
      <li class="nav-item"> <a class="nav-link" href="view-service-provider.html">View</a></li>
      <li class="nav-item"> <a class="nav-link" href="my-panel.html">My Panel</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-shopping-cart-full menu-icon"></i>
      <span class="menu-title">Products</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="product">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-product.html">Add Product</a></li>
      <li class="nav-item"> <a class="nav-link" href="products.html">Products</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#org-user" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-world menu-icon"></i>
      <span class="menu-title">Organizations Users</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="org-user">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="edit-organisation-user.html">New User</a></li>
      <li class="nav-item"> <a class="nav-link" href="org-users.html">View Users</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#billing" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-credit-card menu-icon"></i>
      <span class="menu-title">Billing</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="billing">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="add-billing.html">Create</a></li>
      <li class="nav-item"> <a class="nav-link" href="billing.html">View/Upgrade</a></li>
      <li class="nav-item"> <a class="nav-link" href="upcoming-bills.html">Upcoming bills</a></li>
      <li class="nav-item"> <a class="nav-link" href="tranactions.html">Transactions</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="my-profile.html">
      <i class="ti-user menu-icon"></i>
      <span class="menu-title">My Profile</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#org" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-credit-card menu-icon"></i>
      <span class="menu-title">Organizations</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="org">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="new-org.html">New Org</a></li>
      <li class="nav-item"> <a class="nav-link" href="view-org.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#user" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-world menu-icon"></i>
      <span class="menu-title">Web Users</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="user">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="users.html">View</a></li>
      </ul>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="subscribers.html">
      <i class="ti-email menu-icon"></i>
      <span class="menu-title">Newsletter</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#msg" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-email menu-icon"></i>
      <span class="menu-title">Messaging</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="msg">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="new-message.html">New Message</a></li>
      <li class="nav-item"> <a class="nav-link" href="view-messages.html">View</a></li>
      </ul>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" data-toggle="collapse" href="#settings" aria-expanded="false" aria-controls="ui-basic">
      <i class="ti-settings menu-icon"></i>
      <span class="menu-title">Settings</span>
      <i class="menu-arrow"></i>
  </a>
  <div class="collapse" id="settings">
      <ul class="nav flex-column sub-menu">
      <li class="nav-item"> <a class="nav-link" href="category.html">Service Categories</a></li>
      <li class="nav-item"> <a class="nav-link" href="countries.html">Countries</a></li>
      <li class="nav-item"> <a class="nav-link" href="prod-categories.html">Product categories</a></li>
      <li class="nav-item"> <a class="nav-link" href="sectors.html">Industry/Sectors</a></li>
      </ul>
  </div>
</li>

</ul>
</nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">


          <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Create Auction</h4>
                <p class="card-description">
                  Create auctions and upload images of the item..
                </p>
                <hr>
                <div class="header">
                  <label for="exampleSelectGender">Select type of Product</label>
                  <select class="form-control" name="dropdown" id="target">
                    <option value="option" selected>Select type of Product</option>
                    <option value="option-1">Motor Product</option>
                    <option value="option-2">Non-Motor Product</option>
                  </select>
                </div>
                <!-- <div class="form-group">
                  <label for="exampleSelectGender">Type of Bids</label>
                    <select class="form-control" name="dropdown" id='target'>
                      <option value="temp1" value2="form1">Motor</option>
                      <option value="temp2" value2="form2">Non Motor</option>
                    </select>
                  </div> -->
                <!--
                 -->
                <div class="temps">
                  <div class="initial option-1"><h3 class="my-3">Motor</h3><hr></div>
                  <div class="initial option-2"><h3 class="my-3">Non Motor</h3><hr></div>
                </div>

                <div class="forms">
                  <div class="initial option-1">
                    <form  id="form1" class="initial option-1 forms-sample">
                      <div class="form-group">
                        <p><b>Bid Reference Number: </b><i>3343</i></p>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Claim Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Registration Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Chassis Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Description of Damage</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Salvage Branch</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>Nairobi</option>
                            <option>Nyeri</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleSelectGender">Vehicle Make</label>
                            <select class="form-control" id="exampleSelectGender">
                              <option>Toyota</option>
                              <option>Nyeri</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleSelectGender">Vehicle model</label>
                              <select class="form-control" id="exampleSelectGender">
                                <option>Sedan</option>
                                <option>Nyeri</option>
                              </select>
                            </div>
                        <div class="form-group">
                          <label for="exampleInputName1">Salvage Custodian</label>
                          <input type="text" class="form-control" id="exampleInputName1" placeholder="eg. Equity">
                        </div>
                        <div class="form-group">
                          <label for="exampleSelectGender">Location of Salvage</label>
                            <select class="form-control" id="exampleSelectGender">
                              <option>Nairobi</option>
                              <option>Nyeri</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">State</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">City</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">Contact Person</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                          </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Sum Insured</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">Ksh</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Policy Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Total Claim Paid</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">Ksh</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Insured Interested?</label>
                        <select class="form-control" id="exampleSelectGender">
                          <option>Yes</option>
                          <option>No</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Closing Date</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="DD/MM/YY">
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Status</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>Active</option>
                            <option>Inactive</option>
                          </select>
                        </div>


                      <div class="form-group">
                        <label>Upload Images</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Images">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Publish Salvage</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>yes</option>
                            <option>No</option>
                          </select>
                        </div>
                      <button type="submit" class="btn btn-primary mr-2"><i class="ti-reload"></i> Update</button>
                      <button type="submit" class="btn btn-success mr-2"><i class="ti-save"></i> Save</button>
                      <button class="btn btn-light"><i class="ti-close"></i> Cancel</button>
                    </form>
                  </div>
                  <div class="initial option-2">
                    <form id="form2" class="initial option-2 forms-sample">
                      <div class="form-group">
                        <p><b>Bid Reference Number: </b><i>3343</i></p>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Claim Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Bid Code Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Item Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Item Description</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Description of Damage</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Salvage Branch</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>Nairobi</option>
                            <option>Nyeri</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName1">Salvage Custodian</label>
                          <input type="text" class="form-control" id="exampleInputName1" placeholder="eg. Equity">
                        </div>
                        <div class="form-group">
                          <label for="exampleSelectGender">Location of Salvage</label>
                            <select class="form-control" id="exampleSelectGender">
                              <option>Nairobi</option>
                              <option>Nyeri</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">State</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">City</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName1">Contact Person</label>
                            <input type="text" class="form-control" id="exampleInputName1" placeholder="">
                          </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Sum Insured</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">Ksh</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Policy Number</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="0">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Total Claim Paid</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-primary text-white">Ksh</span>
                          </div>
                          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                          <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1">Closing Date</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="DD/MM/YY">
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Status</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>Active</option>
                            <option>Inactive</option>
                          </select>
                        </div>


                      <div class="form-group">
                        <label>Upload Images</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Images">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender">Publish Salvage</label>
                          <select class="form-control" id="exampleSelectGender">
                            <option>yes</option>
                            <option>No</option>
                          </select>
                        </div>
                      <button type="submit" class="btn btn-primary mr-2"><i class="ti-reload"></i> Update</button>
                      <button type="submit" class="btn btn-success mr-2"><i class="ti-save"></i> Save</button>
                      <button class="btn btn-light"><i class="ti-close"></i> Cancel</button>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>




        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->